.header {
  padding: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.header texto{
  color: #ff007f;
}